@import url('https://fonts.googleapis.com/css?family=Roboto|Trade+Winds&display=swap');
body
{
  background: #fff;
  color: #fff;
  text-align: center;
}
section
{
  background: #3498db;
  border-radius: 12px;
  padding: 10px;
  margin: 50px;
  font-family: Roboto; 
  text-align: center;
}

h1
{
  font-family: Trade Winds;
  background: #3498db;
  color: #ffffff;
  font-size: 30px;
  border: 10px;
  border-radius: 12px;
  padding: 10px

}



a
{
font-family: Roboto; 
border-radius: 12px;
padding: 12px;
background: #3498db;
color: #ffffff;
text-decoration: none;
}
.info
{
  background: #ffffff;
  color: #3498db;
  padding: 10px;
  border: 10px;
  border-radius: 8px;
  transition: 1s;
  height: 50px;
  overflow: hidden;
  margin: 5px;
  cursor: pointer;
  
}

div
{
  text-align: center;
}
.open
{
  
  overflow: hidden;
  transition: 1s;
 
}
h3
{
  font-family: Trade Winds;
}
.pata
{
  margin: 0;
  align-content: center;
  background: #3498db;
  padding: 10px;
  
}
.patatable
  {
font-family: Roboto; 
border-radius: 12px;
padding: 12px;
background: #ffffff;
margin: 10px;
color: #3498db;
align-content: center;
}
tr
{
font-family: Roboto; 
border: 1px;
border-radius: 12px;
padding: 12px;
background: #3498db;
color: #ffffff;
align-content: center;
margin: 20px;
}
th
{
font-family: Roboto; 
border: 1px;
border-radius: 12px;
padding: 12px;
background: #3498db;
color: #ffffff;
margin: 500px;
}